header{
    background-color: sandybrown;
    height: 100vh;
    width: auto;
}
.navigation{
    background-color: #fff2d4;
    width: auto;
    height: 40px;
}
ul li{
    position: relative;
    display:inline;
    margin-right: 20px;
    left: 380px;
}
ul li a{
    text-decoration: none;
    color: brown;
    font-family: 'Roboto Mono', monospace;
    font-size: 22px;
}
a:hover{
    background-color: bisque;
}
.logo{
    /* background-color: #aa2b1d; */
    width: 200px;
    height: 200px;
    position: absolute;
}
.judul{
    position: absolute;
    height: 100px;
    width: auto;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}
.kalimat{
    font-family: 'Roboto Mono', monospace;
    font-size: 35px;
}

main{
    height: 50rem;
}
.genre-card{
    /* background-color: #00917c; */
    margin:5px 0px 5px 0px;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.nav-button{
    width: 170px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
}
.test1{
    height: 50px;
    width: 160px;
    border-radius: 4px;
    object-fit: cover;
}
.genre-link{
    /* background-color: #fff2d4; */
    width: 160px;
    height: 50px;
    position: absolute;
    top: 10px;
    text-align: center;
}
.gen-link{
    text-decoration: none;
    color: salmon;
    font-family: 'Roboto Mono', monospace;
}
.cover::before{
    content: "";
    width: 160px;
    height: 50px;
    background-color:rgb(199, 199, 199);
    position: absolute;
    opacity: 0.3;
}
.card-hover{
    background-color: seagreen;
    width: 20px;
    height: 20px;
}
.baris{
    height: 70px;
    /* background-color:sienna; */
}
.tombol{
    background-color: rgb(15, 47, 73);
    width:60px;
}
.theme{
    /* background-color: hotpink; */
    width: auto;
    height: 50px;
    text-align: center;
}
.main-theme{
    font-family: 'Special Elite', cursive;
    font-size: 30px;
    background-color: #00917c;
    color: white;
}
.flex-container{
    /* background-color:sandybrown; */
    width: auto;
    height: 550px;
    margin: auto;
    top: 200px;
    display: flex;
    justify-content: center;
}
.card{
    flex-wrap: wrap;
    margin-right: 40px;
    margin-left: 10px;
}
.card-image-top{
    height:50px;
}
.gambar1{
    width: auto;
    height: 200px;
}
.card-body{
    background-color: #00917c;
}
.card-title{
    background-color: #025955;
    width: auto;
    height: 50px;
    text-align: center;
    color: white;
}
.card-text{
    width: auto;
    height: 250px;
    overflow: scroll;
}

footer{
    background-color: sandybrown;
    position: relative;
    height: 300px;
}

.bottom-footer{
    /* background-color: #025955; */
    text-align: center;
    width: 300px;
    height: auto;
    position: absolute;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
}

@media(max-width: 800px){

}