header{
    background-color: sandybrown;
    height: 100vh;
    width: auto;
}
.navigation{
    background-color: #fff2d4;
    width: auto;
    height: 40px;
}
ul li{
    position: relative;
    display:inline;
    margin-right: 10px;
    left: 430px;
}
ul li a{
    text-decoration: none;
    color: brown;
    font-family: 'Roboto Mono', monospace;
    font-size: 22px;
}
a:hover{
    background-color: bisque;
}
.logo{
    /* background-color: #aa2b1d; */
    width: 200px;
    height: 200px;
    position: absolute;
}
.judul{
    position: absolute;
    height: 100px;
    width: auto;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}
.kalimat{
    font-family: 'Roboto Mono', monospace;
    font-size: 35px;
}

main{
    height: 50rem;
}
.theme{
    /* background-color: hotpink; */
    width: auto;
    height: 50px;
    text-align: center;
}
.main-theme{
    font-family: 'Special Elite', cursive;
    font-size: 30px;
    background-color: blanchedalmond;
}
.baris{
    height: 50px;
    background-color:sienna;
}
.tombol{
    background-color: rgb(15, 47, 73);
    width:60px;
}
.flex-container{
    background-color:sandybrown;
    width: auto;
    height: 550px;
    margin: auto;
    top: 200px;
    display: flex;
    justify-content: center;
}
.card{
    flex-wrap: wrap;
    margin-right: 40px;
    margin-left: 10px;
}
.card-image-top{
    height:50px;
}

@media(max-width: 800px){

}